<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Información y Título -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de Análisis Estadístico</title>

    <!-- Hojas de Estilo y Scripts -->
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stock_critico.css') }}">
    <script src="{{ url_for('static', filename='js/stock_critico.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts.js" defer></script>
</head>
<body>

    <!-- Título y Logo -->
    <div class="titulo-container">
        <img src="{{ url_for('static', filename='imagenes/logo_blanco.png') }}" alt="Logo" class="logo">
        <h1 class="titulo">STOCK CRÍTICO</h1>
        <div class="carro-icon">
            <a href="{{ url_for('carro_compras') }}" target="_blank">
                <img src="{{ url_for('static', filename='imagenes/carro.png') }}" alt="Carro de Compras">
            </a>
        </div>
    </div>

    <!-- Dropdown y Botón de Actualizar -->
    <div class="container-flex">
        <div class="dropdown-container">
            <img src="{{ url_for('static', filename='imagenes/icono_ordenar.png') }}" alt="Icono">
            <select id="ordenarPor">
                <option value="nombre">Nombre</option>
                <option value="fecha">Fecha</option>
                <option value="precio">Precio</option>
            </select>
        </div>
        <button class="actualizar-button">Actualizar</button>
    </div>

    <!-- Contenido Principal -->
    <div class="contenido">
        <div class="table-container">
            <!-- Contenedor de la Tabla -->
            <div class="iframe-container">
                {{ tabla | safe }}
            </div>
        </div>
    </div>

</body>
</html>
